
footer{
    padding: 1rem 0;
    margin-top: 13rem;
    h1{
        color: #FFF;
    }
    .footerIcons{
        position: absolute;
        right: 0;
        text-align: end;
        color: #FFF;
        svg{
            transition: 300ms;
            &:hover{
                color: #A749FF;
            }
    
        }
        
    }

}
