
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  /* color: blueviolet; */
  font-weight: 800;
  font-family: Abril Fatface, cursive;
}
.card{
  transition: all .3s ease ;
}

.card:hover{
  box-shadow: 5px 5px 10px rgba(0,0, 0, .5);
}

.btn-primary {
  color: #fff;
  background-color: #A749FF!important;
  border-color: #A749FF !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #A749FF!important;
}

